@import url(http://fonts.googleapis.com/css?family=Lato:300);

body { 
	background-image: url('vuelo2.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center; 
  }

hr{
   border: 1px solid #FFFFFF;
}

a:link{
	color:#0055CC;
}
a:visited{
		color:#990099;
}
a:hover{
		color:#CC0000;
}

th{
	background-color:#FFFFFF;
 	font-weight:bold;
}

td{
	background-color:#ecf7fe;
 	text-align:center;
}